@model RegisterRequestViewModel

<div class="container border shadow mt-5 p-3">
	<div class="text-center p-3">
		<h2 class="text-info">Register</h2>
	</div>
	<div>
		<form asp-action="Register" method="post" class="row">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3 row">
				<div class="col-2">
					<label asp-for="UserName"></label>
				</div>
				<div class="col-10">
					<input asp-for="UserName" class="form-control" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
			</div>

			<div class="mb-3 row">
				<div class="col-2">
					<label asp-for="Email"></label>
				</div>
				<div class="col-10">
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>


			<div class="mb-3 row">
				<div class="col-2">
					<label asp-for="Password"></label>
				</div>
				<div class="col-10">
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
			</div>


			<div class="mb-3 row">
				<div class="col-2">
					<label asp-for="ConfirmPassword"></label>
				</div>
				<div class="col-10">
					<input asp-for="ConfirmPassword" class="form-control" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>

			</div>

			<div class="mb-3 row">
				<div class="col-2">
					<label asp-for="Role"></label>
				</div>
				<div class="col-10">
					<select class="form-select" asp-for="Role" asp-items="ViewBag.RoleList">
						<option value="" disabled selected>-- select role --</option>
					</select>
					<span asp-validation-for="Role" class="text-danger"></span>
				</div>
			</div>

			<div class="mb-3 row">
				<div class="col-2">
					<label asp-for="Address"></label>
				</div>
				<div class="col-10">
					<input asp-for="Address" class="form-control" />
					<span asp-validation-for="Address" class="text-danger"></span>
				</div>
			</div>


			<div class="row">
				<div class="col offset-2">
					<input type="submit" class="btn btn-primary form-control" value="Register" />
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
